h6 {
  color: #4026d4;
}

.no-border {
  border: unset !important;
  border: none !important;
}

.no-shadow {
  box-shadow: unset !important;
  box-shadow: none !important;
}

.ui .inverted .menu {
  border-radius: none !important;
}